body{
    background-color: rgb(190, 190, 246);
    font: normal 15pt Arial;
}
header{
    color: rgb(129, 121, 137);
    text-align: center;
}
section{
    background-color: rgb(185, 187, 189);
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(93, 88, 88, 0.451);
}
footer{
    color: rgb(129, 121, 137);
    font-style: italic;
    text-align: center;
}
div#resp{
    text-align: center;
}
div#msg{
    text-align: center;
}
div#foto{
    text-align: center;
   
}
{
   width: 4330px;
}